<template>
<body>
<div id="main" class="container-fluid">
  <div class="modal" id="add-modal"  >
    <div class="modal-dialog" style="padding-top: 2%; padding: 0px; margin: 0px; margin-left: 28%">
      <div class="modal-content" style="width: 140%;">

        <!-- Modal body -->
        <div class="modal-body">
          <h3 class="page-header">Adicionar Produto</h3>
          <br>
            <form>
              <div class="row">
                <div class="form-group col-md-4" >
                  <label for="inputNome">ID fornecedor</label>
                  <input type="number" class="form-control" v-model="produto.fornecedor.id" placeholder="Digite id do fornecedor">
                </div>

                 <div class="form-group col-md-4" >
                  <label for="inputNome">Codigo</label>
                  <input type="text" class="form-control" v-model="produto.codigo" placeholder="Digite o codigo">
                </div>

                <div class="form-group col-md-4">
                  <label for="inputCnpj">Descricao</label>
                  <input type="text" class="form-control" v-model="produto.descricao" placeholder="Digite a descricao" >
                </div>

              </div>

              <div class="row">
                <div class="form-group col-md-4" >
                  <label for="inputNome">Unidade</label>
                  <input type="text" class="form-control" v-model="produto.unidade" placeholder="Digite a unidade">
                </div>
              </div>

            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-primary" v-on:click="inserirProduto">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</template>


<script>
export default {
  name: 'AddProduto',
  data () {
    return {
     produto:{fornecedor:{}},
    }
  },
  mounted () {
  },
   methods: {
        inserirProduto() {

            if (!this.produto.fornecedor.id || !this.produto.codigo || !this.produto.descricao || !this.produto.unidade) {
              swal({text: "Preencha todos os campos!",icon: "error"});
              return;
            }
            axios
            .post('http://controleestoque.sa-east-1.elasticbeanstalk.com/produto/', this.produto)
            .then(response => {
              swal({text: "Produto criado com sucesso!",icon: "success"});
              console.log('Produto criado', response.data);              
              this.produto = {fornecedor:{}};
              this.$emit('added');
            }).catch(function(error){
              console.log(error);
              swal({text: "Erro ao criar produto!",icon: "error"});
            });
        }        
    }
}

</script>