<template>
<body>
  <div id="main" class="container-fluid">
<div class="modal" id="edit-modal"  >
  <div class="modal-dialog" style="padding-top: 2%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">
        <h3 class="page-header">Editar produto</h3>
        <br>
        <form>
          <div class="row">      
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Fornecedor ID</label>
                <input type="number" class="form-control" id="exampleInputEmail1" v-model="produto.fornecedor.id" placeholder="Digite o ID do fornecedor">
              </div>

              <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Codigo</label>
                <input type="number" class="form-control" id="exampleInputEmail1" v-model="produto.codigo" placeholder="Digite o codigo">
              </div>

              <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Descricao</label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="produto.descricao" placeholder="Digite a descricao">
              </div>              
          </div>

          <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Unidade</label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="produto.unidade" placeholder="Digite a unidade">
            </div>
          </div>
        </form>  
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
         <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" v-on:click="atualizarProduto">Salvar</button>
          <button class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</body>
</template>


  <script>
export default {
  name: 'EditProduto',
  props: {
   produto: {
    type: Object,
    required: true
   }
  },  
  mounted () {        
  },
   methods: {        
        atualizarProduto() {          
            if (!this.produto.id || !this.produto.fornecedor.id || !this.produto.codigo || !this.produto.descricao || !this.produto.unidade) {
              swal({text: "Preencha todos os campos!",icon: "error"});
              return;
            }
            axios
            .post('http://controleestoque.sa-east-1.elasticbeanstalk.com/produto/', this.produto)
            .then(response => {
              swal({text: "Produto editado com sucesso!",icon: "success"});
            })
            .catch(function(error){
              swal({text: "Erro ao editar produto!",icon: "error"});
              console.log(error);
            });

        }
    }
}
</script>