<template>
<body id="appProdutos">

<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-md-3">
             <h2>Produtos</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text"
                placeholder="Pesquisar por descricao" v-model="search" style="margin-top: 3px;"> 

                <span class="input-group-btn">
                    <button class="btn btn-primary" v-on:click="buscarEmTodasAsPaginas(FiltrarPorNome(produtos, search))" type="submit" style="height:95%;">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3"> <a href="#" class="btn btn-primary float-right h2" data-toggle="modal" data-target="#add-modal">Novo Produto</a>
        </div>
    </div>
    <!-- /#top -->
    <hr>
    <div id="list" class="row">
        <div class="table-responsive col-lg-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FORNECEDOR ID</th>
                        <th>CÓDIGO</th>
                        <th>DESCRICAO</th>
                        <th>UNIDADE</th>
                        <th class="actions">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(produto, index) in FiltrarPorNome(produtos, search)">
                        <td style="width: 10%">{{produto.id}}</td>
                        <td style="width: 12%">{{produto.fornecedor.id}}</td>
                        <td style="width: 12%">{{produto.codigo}}</td>
                        <td style="width: 17%">{{produto.descricao}}</td>
                        <td style="width: 15%">{{produto.unidade}}</td>
                        <td class="actions"> 
                            <a style="width: 20%;" class="btn btn-success btn-xs" v-on:click="setProdutoAtual(produto)" href="#" data-toggle="modal" data-target="#view-modal">Visualizar</a>
                            <a style="width: 20%;" href="#" class="btn btn-warning btn-xs" v-on:click="setProdutoAtual(produto)" data-toggle="modal" data-target="#edit-modal">Editar</a>
                            <a  style="width: 20%;" class="btn btn-danger btn-xs"  href="#" data-toggle="modal" v-on:click="setProdutoAtual(produto)" data-target="#delete-modal">Excluir</a>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        <div class="spinner-border" id="loading" role="status" style="display: none; text-align: center;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>    
</div>
<footer style="margin-left:12px;">
        <div id="bottom" class="row" style="">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="previousPage page-item disabled"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual - 1)" class="page-link">&lt; Anterior</a>                
                    </li>
                    <li v-if="numeroPagina > 1" class="page-item" v-bind:id="'paginationLink' + numeroPagina" v-for="numeroPagina in numeroPaginas">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(numeroPagina)">{{numeroPagina}}</a>
                    </li>

                    <li v-else class="page-item active"  v-bind:id="'paginationLink' + numeroPagina">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(1)">{{numeroPagina}}</a>
                    </li>

                    <li class="nextPage page-item"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual + 1)" class="page-link">Pr&#xF3;ximo &gt;</a>
                    </li>
                </ul>
                <!-- /.pagination -->
            </div>
        </div>
</footer>
<!-- /#main -->

<!-- Modal de visualizar -->
<div class="modal" id="view-modal"  >
  <div class="modal-dialog" style="padding-top: 0%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">

      <ViewProduto :produto="produtoAtual"/>        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal" data-dismiss="modal"> Editar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" > Excluir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal de adicionar -->
<AddProduto  @added="handleAddSuccess"/> 
<EditProduto  :produto="produtoAtual"/> 



<!-- Modal de delete -->
<div class="modal" id="delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Excluir produto</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Deseja realmente exlcuir este produto?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" v-on:click="exlcuirProduto" data-dismiss="modal"> Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

</body>
</template>

<script>
export default {    
  name: 'Produtos',
  data () {
    return {
      produtos: null,
      numeroPaginas: null,
      produtosPagina:[],
      itemsPorPagina: null,
      paginaAtual: 1,
      search:null,
      produtoAtual:{}
    }
  },
  mounted () {
    this.buscarProdutos();
  },
   methods: {
        buscarProdutos(){
            document.getElementById('loading').style.display = "block";
            axios
              .get('http://controleestoque.sa-east-1.elasticbeanstalk.com/produto/')
              .then(response => {
                    this.produtos = response.data;

                    this.produtos = this.produtos.reverse();

                    this.produtosPagina = [];

                    this.itemsPorPagina = Math.floor(window.innerHeight / 100);
                    if (this.itemsPorPagina > this.produtos.length ) {
                        this.itemsPorPagina = this.produtos.length;
                    }

                    var numeroPaginas = Math.ceil(this.produtos.length / this.itemsPorPagina);

                    this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;

                    for (var i = 0 ; i < this.itemsPorPagina; i++) {
                        this.produtosPagina.push(this.produtos[i]);
                    }
                    
                    document.getElementById('loading').style.display = "none";
            });
        },

        mostrarItemsPagina(numeroPagina) {
            
            if (numeroPagina < 1 || numeroPagina > this.numeroPaginas) return; 

            this.controlarActiveDisablePaginacao(numeroPagina);

            this.paginaAtual = numeroPagina;
            this.produtosPagina = [];

            if(numeroPagina == 1){
                for (var i = 0;  i < this.itemsPorPagina ; i++) {
                    this.produtosPagina.push(this.produtos[i]);
                }
                return;
            }

            var posicaoInical = numeroPagina * this.itemsPorPagina - this.itemsPorPagina;            
            var posicaoFinal = (posicaoInical + this.itemsPorPagina);
            if (posicaoFinal > this.produtos.length) {
                posicaoFinal = this.produtos.length;
            }

            for (var i = posicaoInical;  i < posicaoFinal; i++) {
                this.produtosPagina.push(this.produtos[i]);
            }
        },

        setProdutoAtual: function(produto){
            this.produtoAtual = produto;
        },

        FiltrarPorNome: function (produtos, search) {
            if (!produtos) return false;                                  
            if (!search) {
                return this.produtosPagina;
            }            
            var produtos = produtos.filter(function(produto){                            
                if( produto.descricao.toLowerCase().indexOf(search.toLowerCase()) != -1 ||
                produto.descricao.toLowerCase().indexOf(search.toLowerCase()) != -1)
                {
                    return produto
                }
            })            
            return produtos.slice(0, this.itemsPorPagina - 1);
        },

        buscarEmTodasAsPaginas: function(produtos){            
           this.produtos =  produtos;
           this.itemsPorPagina = Math.floor(window.innerHeight / 100);

           if (produtos.length < this.itemsPorPagina) {
                this.itemsPorPagina = produtos.length;
           }

            var numeroPaginas = Math.ceil(this.produtos.length / this.itemsPorPagina);

            this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;
            this.produtosPagina = [];
            for (var i = 0 ; i < this.itemsPorPagina; i++) {
                this.produtosPagina.push(this.produtos[i]);
            }
        }
        ,

        exlcuirProduto: function(){
            console.log('http://controleestoque.sa-east-1.elasticbeanstalk.com/produto/' + this.produtoAtual.id);
            axios
            .delete('http://controleestoque.sa-east-1.elasticbeanstalk.com/produto/' + this.produtoAtual.id)
            .then(response => {                
                console.log('Deletado com sucesso!');
                swal({text: "Produto deletado com sucesso!",icon: "success"});
                this.mostrarItemsPagina(1);
                this.buscarProdutos();               
            });
        },

        controlarActiveDisablePaginacao: function(numeroPagina){
            if (numeroPagina > 1) {
                document.querySelector('.previousPage').className = "page-item previousPage";
            }else{
                document.querySelector('.previousPage').className = "page-item previousPage disabled";
            }

            if (numeroPagina == this.numeroPaginas) {
                document.querySelector('.nextPage').className = "page-item nextPage disabled";   
            }else{
                document.querySelector('.nextPage').className = "page-item nextPage";
            }

            for (var i = 1; i <= this.numeroPaginas; i++) {
                if (numeroPagina == i){
                    document.getElementById('paginationLink' + i).className = "page-item active"; 
                }
                else{
                    document.getElementById('paginationLink' + i).className = "page-item";
                }
            }
        },

        handleAddSuccess: function(){
            this.buscarProdutos();
            this.mostrarItemsPagina(1);
        }

    }
}
</script>

<style type="text/css">
    .page-link:focus,.page-link:hover{
        outline: none;box-shadow: none;border:2px solid transparent;
    }
    html{
      position:relative; 
      min-height: 100%;
    }
    /*Normalize html and body elements,this style is just good to have*/
    html,body{
      margin:0;
      padding:0;
    }
    #main{
      margin-bottom:70px;/* Height of footer*/
    } 
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height:50px;
    }
</style>