﻿<template>
  <body>
   <div id="main" class="container-fluid">    

    <h3 class="page-header">Visualizar Produto</h3>    
    <br>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Id</strong></p>
    	  <p>{{produto.id}}</p>
      </div>
  	
  	  <div class="col-md-4">
        <p><strong>Id do fornecedor</strong></p>
    	  <!-- <p>{{produto.fornecedor.id}}</p> -->
      </div>
  	
  	  <div class="col-md-4">
        <p><strong>Codigo</strong></p>
    	  <p>{{produto.codigo}}</p>
      </div>

      <div class="col-md-4">
        <p><strong>Descricao</strong></p>
    	  <p>{{produto.descricao}}</p>
      </div>
  	
  	  <div class="col-md-4">
        <p><strong>Unidade</strong></p>
    	  <p>{{produto.unidade}}</p>
      </div>
   </div>

  </div>
  </body>
</template>


<script>
export default {
  name: 'ViewProduto',
  props: {
   produto: {
    fornecedor: {
      type: Object,
      required: true
     },
    type: Object,
    required: true
   }
  }
}
</script>