<template>
<body id="appEstoque">

<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-md-3">
             <h2>Itens no Estoque</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text"
                placeholder="Pesquisar Itens" v-model="search" style="margin-top: 3px;"> 

                <span class="input-group-btn">
                    <button class="btn btn-primary" v-on:click="buscarEmTodasAsPaginas(FiltrarPorNome(estoque, search))" type="submit" style="height:95%;">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>        
    </div>
    <!-- /#top -->
    <hr>
    <div id="list" class="row">
        <div class="table-responsive col-lg-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>PRODUTO</th>
                        <th>FORNECEDOR</th>
                        <th>TOTAL ITEMS</th>                        
                        <th class="actions">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(itemEstoque, index) in FiltrarPorNome(estoque, search)">
                        <td style="width: 20%">{{itemEstoque.produto}}</td>
                        <td style="width: 20%">{{itemEstoque.fornecedor}}</td>
                        <td style="width: 20%">{{itemEstoque.total}}</td>                        
                        <td class="actions"> 
                            <a style="width: 20%;" class="btn btn-success btn-xs" v-on:click="setItemEstoqueAtual(itemEstoque)" href="#" data-toggle="modal" data-target="#view-modal">Visualizar</a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="spinner-border" id="loading" role="status" style="display: none; text-align: center;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>    
</div>
<footer style="margin-left:12px;">
        <div id="bottom" class="row" style="">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="previousPage page-item disabled"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual - 1)" class="page-link">&lt; Anterior</a>                
                    </li>
                    <li v-if="numeroPagina > 1" class="page-item" v-bind:id="'paginationLink' + numeroPagina" v-for="numeroPagina in numeroPaginas">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(numeroPagina)">{{numeroPagina}}</a>
                    </li>

                    <li v-else class="page-item active"  v-bind:id="'paginationLink' + numeroPagina">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(1)">{{numeroPagina}}</a>
                    </li>

                    <li class="nextPage page-item"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual + 1)" class="page-link">Pr&#xF3;ximo &gt;</a>
                    </li>
                </ul>
                <!-- /.pagination -->
            </div>
        </div>
</footer>
<!-- /#main -->

<!-- Modal de visualizar -->
<div class="modal" id="view-modal"  >
  <div class="modal-dialog" style="padding-top: 0%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">

      <ViewItemEstoque :itemEstoque="itemEstoqueAtual"/>        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>



<!-- Modal de delete -->
<div class="modal" id="delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Excluir item do estoque</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Deseja realmente exlcuir este item do estoque?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"> Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

</body>
</template>

<script>
export default {    
  name: 'Estoque',
  data () {
    return {
      estoque: null,
      numeroPaginas: null,
      itemsEstoquePagina:[],
      itemsPorPagina: null,
      paginaAtual: 1,
      search:null,
      itemEstoqueAtual:{}
    }
  },
  mounted () {
    this.buscarItemsEstoque();
  },
   methods: {
        buscarItemsEstoque(){
            document.getElementById('loading').style.display = "block";
            axios
              .get('http://controleestoque.sa-east-1.elasticbeanstalk.com/movimentacao/estoque')
              .then(response => {
                    this.estoque = response.data;                    
                    this.itemsEstoquePagina = [];

                    this.itemsPorPagina = Math.floor(window.innerHeight / 100);
                    if (this.itemsPorPagina > this.estoque.length ) {
                        this.itemsPorPagina = this.estoque.length;
                    }

                    var numeroPaginas = Math.ceil(this.estoque.length / this.itemsPorPagina);

                    this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;

                    for (var i = 0 ; i < this.itemsPorPagina; i++) {
                        this.itemsEstoquePagina.push(this.estoque[i]);
                    }
                    console.log(this.itemsEstoquePagina[0]);
                    
                    document.getElementById('loading').style.display = "none";
            });
        },

        mostrarItemsPagina(numeroPagina) {
            
            if (numeroPagina < 1 || numeroPagina > this.numeroPaginas) return; 

            this.controlarActiveDisablePaginacao(numeroPagina);

            this.paginaAtual = numeroPagina;
            this.itemsEstoquePagina = [];

            if(numeroPagina == 1){
                for (var i = 0;  i < this.itemsPorPagina ; i++) {
                    this.itemsEstoquePagina.push(this.estoque[i]);
                }
                return;
            }

            var posicaoInical = numeroPagina * this.itemsPorPagina - this.itemsPorPagina;            
            var posicaoFinal = (posicaoInical + this.itemsPorPagina);
            if (posicaoFinal > this.estoque.length) {
                posicaoFinal = this.estoque.length;
            }

            for (var i = posicaoInical;  i < posicaoFinal; i++) {
                this.itemsEstoquePagina.push(this.estoque[i]);
            }
        },

        setItemEstoqueAtual: function(itemEstoque){
            this.itemEstoqueAtual = itemEstoque;
        },

        FiltrarPorNome: function (estoque, search) { 
            if (!estoque) return false;                                 
            if (!search) {
                return this.itemsEstoquePagina;
            }            

            var estoque = estoque.filter(function(itemEstoque){
                if( itemEstoque.produto.toLowerCase().indexOf(search.toLowerCase()) != -1 ||
                itemEstoque.produto.toLowerCase().indexOf(search.toLowerCase()) != -1)
                {
                    return itemEstoque
                }
            })
            return estoque.slice(0, this.estoque - 1);
        },

        buscarEmTodasAsPaginas: function(estoque){            
           this.estoque =  estoque;
           this.itemsPorPagina = Math.floor(window.innerHeight / 100);

           if (estoque.length < this.itemsPorPagina) {
                this.itemsPorPagina = estoque.length;
           }

            var numeroPaginas = Math.ceil(this.estoque.length / this.itemsPorPagina);

            this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;
            this.itemsEstoquePagina = [];
            for (var i = 0 ; i < this.itemsPorPagina; i++) {
                this.itemsEstoquePagina.push(this.estoque[i]);
            }
        },

        controlarActiveDisablePaginacao: function(numeroPagina){
            if (numeroPagina > 1) {
                document.querySelector('.previousPage').className = "page-item previousPage";
            }else{
                document.querySelector('.previousPage').className = "page-item previousPage disabled";
            }

            if (numeroPagina == this.numeroPaginas) {
                document.querySelector('.nextPage').className = "page-item nextPage disabled";   
            }else{
                document.querySelector('.nextPage').className = "page-item nextPage";
            }

            for (var i = 1; i <= this.numeroPaginas; i++) {
                if (numeroPagina == i){
                    document.getElementById('paginationLink' + i).className = "page-item active"; 
                }
                else{
                    document.getElementById('paginationLink' + i).className = "page-item";
                }
            }
        },

        handleAddSuccess: function(){
            this.buscarItemsEstoque();
            this.mostrarItemsPagina(1);
        }

    }
}
</script>

<style type="text/css">
    .page-link:focus,.page-link:hover{
        outline: none;box-shadow: none;border:2px solid transparent;
    }   

    html{
      position:relative; 
      min-height: 100%;
    }
    /*Normalize html and body elements,this style is just good to have*/
    html,body{
      margin:0;
      padding:0;
    }
    #main{
      margin-bottom:70px;/* Height of footer*/
    } 
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height:50px;
    }

</style>