﻿<template>
  <body>
   <div id="main" class="container-fluid">
    <h3 class="page-header">Visualizar item estoque</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Produto</strong></p>
    	  <p>{{itemEstoque.produto}}</p>
      </div>

  	 <div class="col-md-4">
        <p><strong>Fornecedor</strong></p>
    	  <p>{{itemEstoque.fornecedor}}</p>
      </div>

  	 <div class="col-md-4">
        <p><strong>Total de items</strong></p>
    	  <p>{{itemEstoque.total}}</p>
      </div>
   </div>

  </div>
  </body>
</template>


<script>
export default {
  name: 'ViewItemEstoque',
  props: {
   itemEstoque: {
    type: Object,
    required: true
   }
  }
}
</script>