<template>
<body>
<div id="main" class="container-fluid">
  <div class="modal" id="add-modal"  >
    <div class="modal-dialog" style="padding-top: 2%; padding: 0px; margin: 0px; margin-left: 28%">
      <div class="modal-content" style="width: 140%;">

        <!-- Modal body -->
        <div class="modal-body">
          <h3 class="page-header">Adicionar Movimentação</h3>
          <form>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="inputId">Produto ID</label>
                <input type="text" class="form-control" id="inputId" v-model="movimentacao.produto.id" placeholder="Digite o id">
              </div>
             <div class="form-group col-md-4">
                <label for="inputCnpj">Tipo Movimentação</label>
                <select class="form-control" id="exampleFormControlSelect1" v-model="movimentacao.tipoMovimentacao" >
                  <option value="E" >Entrada</option>
                  <option value="S">Saida</option>
                </select>

              </div>
              <div class="form-group col-md-4">
                <label for="inputNome">Quantidade</label>
                <input type="text" class="form-control" id="inputNome" v-model="movimentacao.quantidade" placeholder="Digite a quantidade">
              </div>
            </div>

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-primary" v-on:click="inserirMovimentacao">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</template>


<script>  
export default {
  name: 'AddMovimentacao',
  data () {
    return {
     movimentacao:{produto:{}}
    }
  },
  mounted () {    
  },
   methods: {
        inserirMovimentacao() {          
          if (!this.movimentacao.produto || !this.movimentacao.tipoMovimentacao || !this.movimentacao.quantidade) {
              swal({text: "Preencha todos os campos!",icon: "error"});
              return;
          }
          axios
          .post('http://controleestoque.sa-east-1.elasticbeanstalk.com/movimentacao/', this.movimentacao)
          .then(response => {
            console.log('Movimentação registrada', response.data);
              swal({text: "Movimentação registrada!",icon: "success"});
              console.log('Movimentação registrada!', response.data);
              this.movimentacao = {produto:{}};
              this.$emit('added');
          })
          .catch(function(error){
              console.log(error);
              swal({text: "Erro ao criar movimentacao!",icon: "error"});
            });          
        }
    }
}

</script>