<template>
<body id="appEstoque">

<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-md-3">
             <h2>Movimentações</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text"
                placeholder="Pesquisar ID do produto" v-model="search" style="margin-top: 3px;"> 

                <span class="input-group-btn">
                    <button class="btn btn-primary" v-on:click="buscarEmTodasAsPaginas(FiltrarPorNome(movimentacoes, search))" type="submit" style="height:95%;">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3"> <a href="#" class="btn btn-primary float-right h2" data-toggle="modal" data-target="#add-modal">Nova movimentação</a>
        </div>
    </div>
    <!-- /#top -->
    <hr>
    <div id="list" class="row">
        <div class="table-responsive col-lg-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID PRODUTO</th>
                        <th>ID FORNECEDOR DO PRODUTO</th>
                        <th>TIPO MOVIMENTACAO</th>
                        <th>QUANTIDADE</th>
                        <th class="actions">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(movimentacao, index) in FiltrarPorNome(movimentacoes, search)">
                        <td style="width: 14%">{{movimentacao.id}}</td>
                        <td style="width: 14%">{{movimentacao.produto.id}}</td>
                        <td style="width: 14%">{{movimentacao.produto.fornecedor.id}}</td>
                        <td style="width: 14%">{{movimentacao.tipoMovimentacao}}</td>
                        <td style="width: 14%">{{movimentacao.quantidade}}</td>
                        
                        <td class="actions"> 
                            <a style="width: 20%;" class="btn btn-success btn-xs" v-on:click="setItemEstoqueAtual(movimentacao)" href="#" data-toggle="modal" data-target="#view-modal">Visualizar</a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="spinner-border" id="loading" role="status" style="display: none; text-align: center;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>
    <!-- /#list -->
</div>
<footer style="margin-left:12px;">
        <div id="bottom" class="row" style="">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="previousPage page-item disabled"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual - 1)" class="page-link">&lt; Anterior</a>                
                    </li>
                    <li v-if="numeroPagina > 1" class="page-item" v-bind:id="'paginationLink' + numeroPagina" v-for="numeroPagina in numeroPaginas">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(numeroPagina)">{{numeroPagina}}</a>
                    </li>

                    <li v-else class="page-item active"  v-bind:id="'paginationLink' + numeroPagina">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(1)">{{numeroPagina}}</a>
                    </li>

                    <li class="nextPage page-item"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual + 1)" class="page-link">Pr&#xF3;ximo &gt;</a>
                    </li>
                </ul>
                <!-- /.pagination -->
            </div>
        </div>
</footer>

<!-- /#main -->

<!-- Modal de visualizar -->
<div class="modal" id="view-modal"  >
  <div class="modal-dialog" style="padding-top: 0%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">

      <ViewMovimentacao :movimentacao="movimentacaoAtual"/>        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal de adicionar -->
<AddMovimentacao  @added="handleAddSuccess"/> 

</body>
</template>

<script>
export default {    
  name: 'Estoque',
  data () {
    return {
      movimentacoes: null,
      numeroPaginas: null,
      movimentacoesPagina:[],
      itemsPorPagina: null,
      paginaAtual: 1,
      search:null,
      movimentacaoAtual:{}
    }
  },
  mounted () {
    this.buscarMovimentacoes();
  },
   methods: {
        buscarMovimentacoes(){
            document.getElementById('loading').style.display = "block";
            axios
              .get('http://controleestoque.sa-east-1.elasticbeanstalk.com/movimentacao/')
              .then(response => {
                    this.movimentacoes = response.data;

                    this.movimentacoes = this.movimentacoes.reverse();

                    this.movimentacoesPagina = [];

                    this.itemsPorPagina = Math.floor(window.innerHeight / 100);
                    if (this.itemsPorPagina > this.movimentacoes.length ) {
                        this.itemsPorPagina = this.movimentacoes.length;
                    }

                    var numeroPaginas = Math.ceil(this.movimentacoes.length / this.itemsPorPagina);

                    this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;

                    for (var i = 0 ; i < this.itemsPorPagina; i++) {
                        this.movimentacoesPagina.push(this.movimentacoes[i]);
                    }
                    
                    document.getElementById('loading').style.display = "none";
            });
        },

        mostrarItemsPagina(numeroPagina) {
            
            if (numeroPagina < 1 || numeroPagina > this.numeroPaginas) return; 

            this.controlarActiveDisablePaginacao(numeroPagina);

            this.paginaAtual = numeroPagina;
            this.movimentacoesPagina = [];

            if(numeroPagina == 1){
                for (var i = 0;  i < this.itemsPorPagina ; i++) {
                    this.movimentacoesPagina.push(this.movimentacoes[i]);
                }
                return;
            }

            var posicaoInical = numeroPagina * this.itemsPorPagina - this.itemsPorPagina;            
            var posicaoFinal = (posicaoInical + this.itemsPorPagina);
            if (posicaoFinal > this.movimentacoes.length) {
                posicaoFinal = this.movimentacoes.length;
            }

            for (var i = posicaoInical;  i < posicaoFinal; i++) {
                this.movimentacoesPagina.push(this.movimentacoes[i]);
            }
        },

        setItemEstoqueAtual: function(movimentacao){
            this.movimentacaoAtual = movimentacao;
        },

        FiltrarPorNome: function (movimentacoes, search) { 

            if (!movimentacoes) return false;
            if (!search) {
                return this.movimentacoesPagina;
            }            

            var movimentacoes = movimentacoes.filter(function(movimentacao){                
                if( movimentacao.produto.id.toString().toLowerCase().indexOf(search.toLowerCase()) != -1 ||
                movimentacao.produto.id.toString().toLowerCase().indexOf(search.toLowerCase()) != -1)
                {
                    return movimentacao
                }
            })            
            return fornecedores.slice(0, this.itemsPorPagina - 1);
        },

        buscarEmTodasAsPaginas: function(movimentacoes){            
           this.movimentacoes =  movimentacoes;
           this.itemsPorPagina = Math.floor(window.innerHeight / 100);

           if (movimentacoes.length < this.itemsPorPagina) {
                this.itemsPorPagina = movimentacoes.length;
           }

            var numeroPaginas = Math.ceil(this.movimentacoes.length / this.itemsPorPagina);

            this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;
            this.movimentacoesPagina = [];
            for (var i = 0 ; i < this.itemsPorPagina; i++) {
                this.movimentacoesPagina.push(this.movimentacoes[i]);
            }
        },

        controlarActiveDisablePaginacao: function(numeroPagina){
            if (numeroPagina > 1) {
                document.querySelector('.previousPage').className = "page-item previousPage";
            }else{
                document.querySelector('.previousPage').className = "page-item previousPage disabled";
            }

            if (numeroPagina == this.numeroPaginas) {
                document.querySelector('.nextPage').className = "page-item nextPage disabled";   
            }else{
                document.querySelector('.nextPage').className = "page-item nextPage";
            }

            for (var i = 1; i <= this.numeroPaginas; i++) {
                if (numeroPagina == i){
                    document.getElementById('paginationLink' + i).className = "page-item active"; 
                }
                else{
                    document.getElementById('paginationLink' + i).className = "page-item";
                }
            }
        },

        handleAddSuccess: function(){
            this.buscarMovimentacoes();
            this.mostrarItemsPagina(1);
        }

    }
}
</script>

<style type="text/css">
    .page-link:focus,.page-link:hover{
        outline: none;box-shadow: none;border:2px solid transparent;
    }   

    html{
      position:relative; 
      min-height: 100%;
    }
    /*Normalize html and body elements,this style is just good to have*/
    html,body{
      margin:0;
      padding:0;
    }
    #main{
      margin-bottom:70px;/* Height of footer*/
    } 
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height:50px;
    } 
</style>