﻿<template>
  <body>
   <div id="main" class="container-fluid">
    <h3 class="page-header">Visualizar item estoque</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Id</strong></p>
    	  <p>{{movimentacao.id}}</p>
      </div>

  	 <div class="col-md-4">
        <p><strong>Produto ID</strong></p>
    	  <p>{{movimentacao.produto.id}}</p>
      </div>

  	 <div class="col-md-4">
        <p><strong>Fornecedor id</strong></p>
    	  <p>{{movimentacao.produto.fornecedor.id}}</p>
      </div>

      <div class="col-md-4">
        <p><strong>Tipo Movimentacao</strong></p>
        <p>{{movimentacao.tipoMovimentacao}}</p>
      </div>

      <div class="col-md-4">
        <p><strong>Tipo Movimentacao</strong></p>
        <p>{{movimentacao.quantidade}}</p>
      </div>

      <!-- <div class="col-md-4">
        <p><strong>Data</strong></p>
        <p>{{new Date(movimentacao.data)}}</p>
      </div> -->
   </div>

  </div>
  </body>
</template>

<script>

export default {
  name: 'ViewMovimentacao',
  props: {
   movimentacao: {
    type: Object,
    required: true
   }
  },
  mounted(){    
  }
}
</script>