<template>
<body>
<div id="main" class="container-fluid">
  <div class="modal" id="add-modal"  >
    <div class="modal-dialog" style="padding-top: 2%; padding: 0px; margin: 0px; margin-left: 28%">
      <div class="modal-content" style="width: 140%;">

        <!-- Modal body -->
        <div class="modal-body">
          <h3 class="page-header">Adicionar Fornecedor</h3>
          <br>
            <form>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="inputCnpj">CNPJ</label>
                  <input type="text" class="form-control" id="inputCnpj" v-model="fornecedor.cnpj" placeholder="Digite o CNPJ" style="width: 130%">
                </div>
                <div class="form-group col-md-4" >
                  <label for="inputNome" style="margin-left:30%; width: 150%">Nome</label>
                  <input type="text" class="form-control" id="inputNome" v-model="fornecedor.nome" placeholder="Digite o nome" style="margin-left:30%; width: 150%">
                </div>
              </div>
              

            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-primary" v-on:click="inserirFornecedor">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</template>


<script>
export default {
  name: 'AddFornecedor',
  data () {
    return {
     fornecedor:{},
    }
  },
  mounted () {    
  },
   methods: {        
        inserirFornecedor() {

            if (!this.fornecedor.cnpj || !this.fornecedor.nome) {
              swal({text: "Preencha todos os campos!",icon: "error"});
              return;
            }
            var regexCnpj = /([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})/;            
            if (!this.fornecedor.cnpj.match(regexCnpj)) {
              swal({text: "CNPJ com formato inválido!",icon: "error"});
              return;
            }
            axios
            .post('http://controleestoque.sa-east-1.elasticbeanstalk.com/fornecedor/', this.fornecedor)
            .then(response => {
              swal({text: "Fornecedor criado com sucesso!",icon: "success"});
              console.log('Fornecedor criado', response.data);
              this.fornecedor = {};
              this.$emit('added');
            }).catch(function(){
              swal({text: "Erro ao criar fornecedor!",icon: "error"});
            });
        }        
    }
}

</script>