<template>
<body>
  <div id="main" class="container-fluid">
<div class="modal" id="edit-modal"  >
  <div class="modal-dialog" style="padding-top: 2%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">
        <h3 class="page-header">Editar fornecedor</h3>
        <br>
        <form>
          <div class="row">      
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Cnpj</label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="fornecedor.cnpj" placeholder="Digite o valor">
              </div>
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="fornecedor.nome" placeholder="Digite o valor">
              </div>
          </div>
        </form>  
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
         <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" v-on:click="atualizarFornecedor">Salvar</button>
          <button class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</body>
</template>


  <script>
export default {
  name: 'EditFornecedor',
  props: {
   fornecedor: {
    type: Object,
    required: true
   }
  },  
  mounted () {
  },
   methods: {        
        atualizarFornecedor() {
            if (!this.fornecedor.cnpj || !this.fornecedor.nome) {
              swal({text: "Preencha todos os campos!",icon: "error"});
              return;
            }
            axios
            .post('http://controleestoque.sa-east-1.elasticbeanstalk.com/fornecedor/', this.fornecedor)
            .then(response => {
              swal({text: "Fornecedor editado com sucesso!",icon: "success"});
            })
            .catch(function(error){
              swal({text: "Erro ao editar fornecedor!",icon: "error"});
              console.log(error);
            })
            ;
        }
    }
}
</script>