<template>
<body id="appFornecedores">

<div id="main" class="container-fluid"style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-md-3">
             <h2>Fornecedores</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text"
                placeholder="Pesquisar por nome" title="teste" v-model="search" style="margin-top: 3px;"> 

                <span class="input-group-btn">
                    <button class="btn btn-primary" v-on:click="buscarEmTodasAsPaginas(FiltrarPorNome(fornecedores, search))" type="submit" style="height:95%;">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3"> <a href="#" class="btn btn-primary float-right h2" data-toggle="modal" data-target="#add-modal">Novo Fornecedor</a>
        </div>
    </div>
    <!-- /#top -->
    <hr>
    <div id="list" class="row">
        <div class="table-responsive col-lg-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CNPJ</th>
                        <th>NOME</th>
                        <th class="actions">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(fornecedor, index) in FiltrarPorNome(fornecedores, search)">
                        <td style="width: 10%">{{fornecedor.id}}</td>
                        <td style="width: 22%">{{fornecedor.cnpj}}</td>
                        <td style="width: 32%">{{fornecedor.nome}}</td>
                        <td class="actions"> 
                            <a style="width: 20%;" class="btn btn-success btn-xs" v-on:click="setFornecedorAtual(fornecedor)" href="#" data-toggle="modal" data-target="#view-modal">Visualizar</a>
                            <a style="width: 20%;" href="#" class="btn btn-warning btn-xs" v-on:click="setFornecedorAtual(fornecedor)" data-toggle="modal" data-target="#edit-modal">Editar</a>
                            <a  style="width: 20%;" class="btn btn-danger btn-xs"  href="#" data-toggle="modal" v-on:click="setFornecedorAtual(fornecedor)" data-target="#delete-modal">Excluir</a>
                        </td>
                    </tr>

                    <!-- <tr v-if="itemsPorPagina > FiltrarPorNome(fornecedoresPagina, search).length" v-for="restante in (itemsPorPagina - FiltrarPorNome(fornecedoresPagina, search).length)">

                        <td style="width: 10%; height: 50%">vazio</td>
                        <td style="width: 22%"></td>
                        <td style="width: 32%"></td> 
                        <td class="actions"> <a style="width: 20%;" class="btn btn-success btn-xs disabled" >Visualizar</a>
                            <a style="width: 20%;" class="btn btn-warning btn-xs disabled" >Editar</a>
                            <a  style="width: 20%;" class="btn btn-danger btn-xs disabled"   >Excluir</a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="spinner-border" id="loading" role="status" style="display: none; text-align: center;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>
    <!-- /#list -->
    <!-- /#bottom -->
</div>
    <footer style="margin-left:12px;">
        <div id="bottom" class="row" style="">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="previousPage page-item disabled"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual - 1)" class="page-link">&lt; Anterior</a>                
                    </li>
                    <li v-if="numeroPagina > 1" class="page-item" v-bind:id="'paginationLink' + numeroPagina" v-for="numeroPagina in numeroPaginas">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(numeroPagina)">{{numeroPagina}}</a>
                    </li>

                    <li v-else class="page-item active"  v-bind:id="'paginationLink' + numeroPagina">
                        <a  class="page-link" href="#" v-on:click="mostrarItemsPagina(1)">{{numeroPagina}}</a>
                    </li>

                    <li class="nextPage page-item"><a href="#" rel="next" v-on:click="mostrarItemsPagina(paginaAtual + 1)" class="page-link">Pr&#xF3;ximo &gt;</a>
                    </li>
                </ul>
                <!-- /.pagination -->
            </div>
        </div>
    </footer>
<!-- /#main -->

<!-- Modal de visualizar -->
<div class="modal" id="view-modal"  >
  <div class="modal-dialog" style="padding-top: 0%; padding: 0px; margin: 0px; margin-left: 28%">
    <div class="modal-content" style="width: 140%;">

      <!-- Modal body -->
      <div class="modal-body">

      <ViewFornecedor :fornecedor="fornecedorAtual"/>        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal" data-dismiss="modal"> Editar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" > Excluir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal de adicionar -->
<AddFornecedor  @added="handleAddSuccess"/> 
<EditFornecedor  :fornecedor="fornecedorAtual"/> 

<!-- Modal de delete -->
<div class="modal" id="delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Excluir fornecedor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Deseja realmente exlcuir este fornecedor?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" v-on:click="exlcuirFornecedor" data-dismiss="modal"> Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

</body>
</template>

<script>
export default {    
  name: 'Fornecedores',
  data () {
    return {
      fornecedores: null,
      numeroPaginas: null,
      fornecedoresPagina:[],
      itemsPorPagina: null,
      paginaAtual: 1,
      search:null,
      fornecedorAtual:{}
    }
  },
  mounted () {
    this.buscarFornecedores();
  },
   methods: {
        buscarFornecedores(){            
            document.getElementById('loading').style.display = "block";
            axios
              .get('http://controleestoque.sa-east-1.elasticbeanstalk.com/fornecedor/')
              .then(response => {
                    this.fornecedores = response.data;
                    this.fornecedoresPagina = [];

                    this.fornecedores = this.fornecedores.reverse();

                    this.itemsPorPagina = Math.floor(window.innerHeight / 100);
                    if (this.itemsPorPagina > this.fornecedores.length ) {
                        this.itemsPorPagina = this.fornecedores.length;
                    }

                    var numeroPaginas = Math.ceil(this.fornecedores.length / this.itemsPorPagina);

                    this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;

                    for (var i = 0 ; i < this.itemsPorPagina; i++) {
                        this.fornecedoresPagina.push(this.fornecedores[i]);
                    }
                    
                    document.getElementById('loading').style.display = "none";
            });
        },

        mostrarItemsPagina(numeroPagina) {
            
            if (numeroPagina < 1 || numeroPagina > this.numeroPaginas) return; 

            this.controlarActiveDisablePaginacao(numeroPagina);

            this.paginaAtual = numeroPagina;
            this.fornecedoresPagina = [];

            if(numeroPagina == 1){
                for (var i = 0;  i < this.itemsPorPagina ; i++) {
                    this.fornecedoresPagina.push(this.fornecedores[i]);
                }
                return;
            }

            var posicaoInical = numeroPagina * this.itemsPorPagina - this.itemsPorPagina;            
            var posicaoFinal = (posicaoInical + this.itemsPorPagina);
            if (posicaoFinal > this.fornecedores.length) {
                posicaoFinal = this.fornecedores.length;
            }

            for (var i = posicaoInical;  i < posicaoFinal; i++) {
                this.fornecedoresPagina.push(this.fornecedores[i]);
            }
        },

        setFornecedorAtual: function(fornecedor){
            this.fornecedorAtual = fornecedor;
        },

        FiltrarPorNome: function (fornecedores, search) {
            if (!fornecedores) return false;
            if (!search) {           
                return this.fornecedoresPagina;
            }
            var fornecedores = fornecedores.filter(function(fornecedor){
                if( fornecedor.nome.toLowerCase().indexOf(search.toLowerCase()) != -1 ||
                fornecedor.nome.toLowerCase().indexOf(search.toLowerCase()) != -1)
                {
                    return fornecedor
                }
            })
            return fornecedores.slice(0, this.itemsPorPagina - 1);
        },

        buscarEmTodasAsPaginas: function(fornecedores){            
           this.fornecedores =  fornecedores;
           this.itemsPorPagina = Math.floor(window.innerHeight / 100);

           if (fornecedores.length < this.itemsPorPagina) {
                this.itemsPorPagina = fornecedores.length;
           }

            var numeroPaginas = Math.ceil(this.fornecedores.length / this.itemsPorPagina);

            this.numeroPaginas = numeroPaginas < 1 ? 1 : numeroPaginas;
            this.fornecedoresPagina = [];
            for (var i = 0 ; i < this.itemsPorPagina; i++) {
                this.fornecedoresPagina.push(this.fornecedores[i]);
            }
        }
        ,

        exlcuirFornecedor: function(){
            axios
            .delete('http://controleestoque.sa-east-1.elasticbeanstalk.com/fornecedor/' + this.fornecedorAtual.id)
            .then(response => {
              console.log('Deletado com sucesso!');
               axios
                  .get('http://controleestoque.sa-east-1.elasticbeanstalk.com/fornecedor/')
                  .then(response => {                        
                        swal({text: "Fornecedor deletado com sucesso!",icon: "success"});                        
                        this.mostrarItemsPagina(1);
                        this.buscarFornecedores();
                    })
                    .catch(function(error){
                        swal({text: "Error ao deleta fornecedor!",icon: "error"});
                    })
                  ;
            });
        },

        controlarActiveDisablePaginacao: function(numeroPagina){
            if (numeroPagina > 1) {
                document.querySelector('.previousPage').className = "page-item previousPage";
            }else{
                document.querySelector('.previousPage').className = "page-item previousPage disabled";
            }

            if (numeroPagina == this.numeroPaginas) {
                document.querySelector('.nextPage').className = "page-item nextPage disabled";   
            }else{
                document.querySelector('.nextPage').className = "page-item nextPage";
            }

            for (var i = 1; i <= this.numeroPaginas; i++) {
                if (numeroPagina == i){
                    document.getElementById('paginationLink' + i).className = "page-item active"; 
                }
                else{
                    document.getElementById('paginationLink' + i).className = "page-item";
                }
            }
        },

        handleAddSuccess: function(){            
            this.buscarFornecedores();
            this.mostrarItemsPagina(1);
        }

    }
}
</script>

<style type="text/css">
    .page-link:focus,.page-link:hover{
        outline: none;box-shadow: none;border:2px solid transparent;
    }
   html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
#main{
  margin-bottom:70px;/* Height of footer*/
} 
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
}
</style>