﻿<template>
  <body>
   <div id="main" class="container-fluid">    

    <h3 class="page-header">Visualizar fornecedor</h3>    
    <br>
    <div class="row">
      <div class="col-md-2">
        <p><strong>Id</strong></p>
    	  <p>{{fornecedor.id}}</p>
      </div>
  	
  	<div class="col-md-4">
        <p><strong>Cnpj</strong></p>
    	  <p>{{fornecedor.cnpj}}</p>
      </div>
  	
  	<div class="col-md-4">
        <p><strong>Nome</strong></p>
    	  <p>{{fornecedor.nome}}</p>
    </div>
   </div>
   
  </div>
  </body>
</template>


<script>
export default {
  name: 'ViewFornecedor',
  props: {
   fornecedor: {
    type: Object,
    required: true
   }
  }
}
</script>