<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <!-- <router-link to="/">aaa</router-link>
    <router-link to="/AddFornecedor">ddd</router-link> -->
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
    data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
&#x2630;</button> 
<a class="navbar-brand"
    href="#">Controle de estoque</a>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a href="#/Fornecedor" class="nav-link">Fornecedor</a>
            </li>
            <li class="nav-item"><a href="#/produtos" class="nav-link">Produto</a>
            </li>
            <li class="nav-item"><a href="#/Movimentacao" class="nav-link">Movimentacao</a>
            </li>
            <li class="nav-item"><a href="#/Estoque" class="nav-link">Estoque</a>
            </li>
        </ul>
    </div>
</nav>
    <br><br><br>    
    <router-view></router-view>
  </div>
</template>

<script>
import ViewFornecedor from '@/components/Fornecedores/ViewFornecedor'
import ViewProduto from '@/components/Produtos/ViewProduto'
import ViewItemEstoque from '@/components/Estoque/ViewItemEstoque'

export default {
  components:{
        'ViewFornecedor': ViewFornecedor,
        'ViewProduto': ViewProduto,
        'ViewItemEstoque': ViewItemEstoque
  },
  name: 'App',
}
</script>

<style>
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
a{
  text-decoration: none;
}*/
</style>
